{% load static %}
{% load i18n %}
{% load get_menu_json %}
{% load catalogue_urls %}
{% get_user_menu as USER_MENU %}

{% block extra_style %}
{% endblock %}

<style>
    #{{ id|default:'' }}-bottom {
        display: none;
        margin-bottom: 0;
    }
    #gn-brand-navbar{
        background-color: #185787;
        color: #FFF;
    }
    .btn-md{
        padding: 10px 16px !important;
        line-height: 1.3333333 !important;
        border-radius: 2px !important;
    }
    .btn-success{
        border-radius: 5px !important;
        border: 1px solid #72BC79 !important;
        background-color: #72BC79 !important;
    }
    .btn-outline{
        border-radius: 5px !important;
        color: #FFF !important;
        border: 1px solid #FFF !important;
        background-color: transparent !important;
    }
    @media (max-width: 748px) {
        #{{ id|default:'' }} .gn-menu-content-center > * {
            display: none;
        }
        #{{ id|default:'' }}-bottom {
            display: flex;
            width: calc(100% - 16px);
            margin: 8px;
        }
    }
</style>

<nav id="{{ id|default:'' }}" class="gn-menu gn-menu-symmetric">
    <div class="gn-menu-container">
        <div class="gn-menu-content">
            <div class="gn-menu-content-left">
                {% block left_menu %}
                <ul class="gn-menu-list">
                    <li>
                        <a href="https://marineportal.gistda.or.th/">
                            {% if custom_theme.logo and custom_theme.logo.url %}
                                <img src="{{ custom_theme.logo.url }}">
                            {% else %}
                                <img style="height:4rem" src="{% block logo_src %}/static/mapstore/img/gistda_marine_white.png{% endblock %}">
                            {% endif %}
                        </a>
                    </li>
                </ul>
                {% endblock %}
            </div>
            <div class="gn-menu-content-center">
            </div>
            <div class="gn-menu-content-right">
                {% block right_menu %}
                <ul class="gn-menu-list">
                    {% for menu_item in USER_MENU %}
                        {% if menu_item.type == 'link' %}
                           <li>
                            <a href="{{ menu_item.href }}" 
                            class="btn btn-md btn-{% if menu_item.label == 'Register'%}outline{% endif %}{% if menu_item.label == 'Sign in'%}success{% endif %}">
                                {{ menu_item.label }}
                            </a>
                           </li>
                        {% endif %}
                        {% if menu_item.type == 'dropdown' %}
                            <li style="list-style: none">
                                <div id="{{menu_item.id}}" role="button" aria-haspopup="true" aria-expanded="false" type="button"
                                    class="" data-toggle="dropdown">
                                            {% if menu_item.image %}
                                            <img class="img-circle" src="{{ menu_item.image }}">
                                        {% endif %}
                                         {% if menu_item.name %}
                                            {% trans menu_item.name %}
                                        {% endif %}
                                </div>
                                  <ul style="margin-right:10px;" class="dropdown-menu dropdown-menu-right" aria-labelledby="{{menu_item.id}}">
                                    {% for child_item in menu_item.items %}
                                        {% if child_item.type == 'link' %}
                                         <li>
                                            <a href="{{ child_item.href }}" target="{{ child_item.target }}">
                                                {% trans child_item.label %}
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                  </ul>
                            </li>
                        {% endif %}
                           {% if child_item.type == 'divider' %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>
{% comment %} <div id="{{ id|default:'' }}-bottom">
    {% block bottom_menu %}
        {% include './search_bar.html' with search_bar_id='gn-search-bar-bottom' %}
    {% endblock %}
</div> {% endcomment %}
{% block extra_script %}
    <script type="text/javascript">
        (function() {
            function manageUrlChange() {
                var signInElement = document.getElementById("sign-in");
                if (signInElement){
                    if (window.location.pathname === '/account/login/'){
                        signInElement.setAttribute("href", window.location.href)
                    }
                    else {
                        var href = signInElement.getAttribute("href").split("next=")[0];
                        var url_parts = window.location.href.split(window.location.pathname);
                        var path_name = encodeURIComponent(window.location.pathname + url_parts[url_parts.length-1]);
                        signInElement.setAttribute("href", href.concat("next=".concat(path_name)));
                    }
                }
            }
            window.addEventListener('DOMContentLoaded', manageUrlChange);
            window.addEventListener('hashchange', manageUrlChange, false);
        })();
    </script>
{% endblock extra_script %}