<div class="sphere-footer">
  <div class="row px-5 py-5 no-gutters">
    <div class="col-sm-5 col-md-5 col-12">
      <div class="d-block d-md-flex align-center">
        <img
          height="95"
          src="https://sphere.gistda.or.th/img/landing-header-logo@4x.a304154b.png"
          alt="Gistda platform"
          class="mt-2 ml-md-10"
        />
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div  class="footer-text my-2 text-sm-right">
        สำนักงานพัฒนาเทคโนโลยีอวกาศและภูมิสารสนเทศ สำนักงานใหญ่<br
          
        />
        เลขที่ 120 อาคารรวมหน่วยราชการ (อาคารรัฐประศาสนภักดี) ชั้น 6 และชั้น
        7<br  />
        ถนนแจ้งวัฒนะ แขวงทุ่งสองห้อง เขตหลักสี่ กรุงเทพฯ 10210<br
          
        />
        โทรศัพท์ 02 143 0567
      </div>
    </div>
  </div>
  <div></div>
</div>
